altgraph==0.17
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.14.5
click==8.0.0
colorama==0.4.4
Eel==0.12.4
et-xmlfile==1.1.0
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
importlib-metadata==4.0.1
openpyxl==3.0.7
pefile==2021.5.13
pycparser==2.20
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pypiwin32==223
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqt5ac==1.2.1
PyVISA==1.11.3
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.4.1
typing-extensions==3.10.0.0
whichcraft==0.6.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
